

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(rgb(22, 15, 71), rgb(41, 128, 157));
    min-height: 100vh;
}


header {
    background-color: #111;
    padding: 30px,30px ;
    border-radius: 20px;
    margin: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
 align-items: center;
    display: flex;
    gap: 12px;
    margin: 0.8%;
}

.logo-img {
    width: 80px;
    height: 80px;

    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid #00bcd4;
}

.text {
    font-size: 1.3em;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}


nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav a {
    color: rgb(203, 203, 232);
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    transition: 0.3s;
}

nav a:hover {
    color: #00bcd4;
}


#A {
    text-align: center;
    color: rgb(219, 227, 234);
    font-size: 2.2em;
    font-weight: bold;
    margin-top: 10%;
}

#B {
    text-align: center;
    color: azure;
    margin-top: 10px;
    font-size: 1.1em;
}


.resume-center {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.Resume {
    padding: 12px 30px;
    background: linear-gradient(135deg, indigo, dodgerblue);
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 25px;

}

.Resume:hover {
    background: #4f9ec6;
    color: black;
    
}


#about {
    text-align: center;
    color: azure;
    margin-top: 80px;
    font-size: 1.8em;
}

#line {
    text-align: center;
    color: azure;
    max-width: 900px;
    margin: 20px auto 60px;
    line-height: 1.6;
    font-size: 1.05em;
}


    #A {
        font-size: 1.8em;
        margin-top: 60px;
    }
.social-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.social-container a {
    width: 220px;              
    text-align: center;
    padding: 12px 0;
    background: linear-gradient(135deg, indigo, dodgerblue);
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 25px;
    transition: 0.3s;
}

.social-container a:hover {
    background: #4f9ec6;
    color: black;
}

.skills-section {
    text-align: center;
    padding: 80px 20px;
}

.skills-title {
    color: azure;
    font-size: 2em;
    margin-bottom: 40px;
}
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 25px;
    max-width: 900px;
    margin: auto;
}
.skill-card {
    padding: 18px;
    background: linear-gradient(135deg, indigo, dodgerblue);
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 16px;
    transition: 0.3s;
}
.skill-card:hover {
    transform: translateY(-8px);
    background: #4f9ec6;
    color: black;
}


.projects-section {
    text-align: center;
    padding: 80px 20px;
}

.projects-title {
    color: azure;
    font-size: 2em;
    margin-bottom: 40px;
}


.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
    max-width: 900px;
    margin: auto;
}


.project-card {
    background: linear-gradient(135deg, indigo, dodgerblue);
    padding: 25px;
    border-radius: 18px;
    color: white;
    transition: 0.3s;
}

.project-card h3 {
    margin-bottom: 10px;
}

.project-card p {
    font-size: 0.95em;
    line-height: 1.5;
    margin-bottom: 20px;
}


.project-card a {
    display: inline-block;
    padding: 10px 22px;
    background: #111;
    color: azure;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.3s;
}

.project-card a:hover {
    background: #4f9ec6;
    color: black;
}


.project-card:hover {
    transform: translateY(-10px);
}


.contact-section {
    text-align: center;
    padding: 80px 20px;
}

.contact-title {
    color: azure;
    font-size: 2em;
    margin-bottom: 40px;
}

.contact-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    max-width: 900px;
    margin: auto;
}


.contact-card {
    background: linear-gradient(135deg, indigo, dodgerblue);
    padding: 25px;
    border-radius: 18px;
    color: white;
    transition: 0.3s;
}

.contact-card h3 {
    margin-bottom: 10px;
}

.contact-card p {
    font-size: 0.95em;
}


.contact-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 20px;
    background: #111;
    color: azure;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.3s;
}

.contact-card a:hover {
    background: #4f9ec6;
    color: black;
}


.contact-card:hover {
    transform: translateY(-8px);
}


